import(methods)
importFrom(stringr, str_locate, str_match, str_split_fixed, str_trim)
importFrom(XML, getNodeSet, xmlRoot)

export(css_to_xpath)
export(querySelector)
export(querySelectorAll)
export(querySelectorNS)
export(querySelectorAllNS)
