importFrom(R6, R6Class)

export(css_to_xpath)
export(querySelector)
export(querySelectorAll)
export(querySelectorNS)
export(querySelectorAllNS)

S3method(querySelector, default)
S3method(querySelectorAll, default)
S3method(querySelectorNS, default)
S3method(querySelectorAllNS, default)

# XML package methods
S3method(querySelector, XMLInternalNode)
S3method(querySelector, XMLInternalDocument)
S3method(querySelectorAll, XMLInternalNode)
S3method(querySelectorAll, XMLInternalDocument)
S3method(querySelectorNS, XMLInternalNode)
S3method(querySelectorNS, XMLInternalDocument)
S3method(querySelectorAllNS, XMLInternalNode)
S3method(querySelectorAllNS, XMLInternalDocument)
S3method(querySelector, XMLDocument)
S3method(querySelectorAll, XMLDocument)
S3method(querySelectorNS, XMLDocument)
S3method(querySelectorAllNS, XMLDocument)
S3method(querySelector, XMLDocumentContent)
S3method(querySelectorAll, XMLDocumentContent)
S3method(querySelectorNS, XMLDocumentContent)
S3method(querySelectorAllNS, XMLDocumentContent)
S3method(querySelector, XMLNode)
S3method(querySelectorAll, XMLNode)
S3method(querySelectorNS, XMLNode)
S3method(querySelectorAllNS, XMLNode)
S3method(querySelector, XMLNodeSet)
S3method(querySelectorAll, XMLNodeSet)
S3method(querySelectorNS, XMLNodeSet)
S3method(querySelectorAllNS, XMLNodeSet)

# xml2 package methods
S3method(querySelector, xml_node)
S3method(querySelectorAll, xml_node)
S3method(querySelectorNS, xml_node)
S3method(querySelectorAllNS, xml_node)
S3method(querySelector, xml_nodeset)
S3method(querySelectorAll, xml_nodeset)
S3method(querySelectorNS, xml_nodeset)
S3method(querySelectorAllNS, xml_nodeset)
S3method(querySelector, xml_missing)
S3method(querySelectorAll, xml_missing)
S3method(querySelectorNS, xml_missing)
S3method(querySelectorAllNS, xml_missing)
